<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pap.com.sosreal">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/meuicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/meuicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.PrincipalActivity"/>
        <activity android:name=".Activity.CriarUsuarioActivity"/>
        <activity android:name=".Activity.CriarPerfilpf1Activity"/>
        <activity android:name=".Activity.CriarPerfilpf2Activity"/>
        <activity android:name=".Activity.CriarPerfilpj1Activity"/>
        <activity android:name=".Activity.CriarPerfilpj2Activity"/>
        <activity android:name=".Activity.SenhaAleatoriaActivity"/>
        <activity android:name=".Activity.TrocarSenhaActivity"/>
        <activity android:name=".Activity.SelecionarPfPjActivity"/>
        <activity android:name=".Activity.InstituicoesActivity"/>
        <activity android:name=".Activity.DetalhesInstituicaoActivity"/>
        <activity android:name=".Activity.NovaDoacaoActivity"/>
        <activity android:name=".Activity.DoacaoSucessoActivity"/>
        <activity android:name=".Activity.ConsultarDoacoesActivity"/>


    </application>

</manifest>